.Button {
  display: flex; 
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px;
}

#custombutton.blueButtonStyle {
  background-color: #2196F3;
  ;
  color: white;
}

#custombutton.whiteButtonStyle {
  background-color: white;
  color: #2196F3;
}