@media (max-width: 800px) {
    .App-footer {
        grid-template-columns: 1fr;
        padding: 10px;
    }
}

.App-footer {
    /* width: 100%;
  display: grid;
  padding: 1%;
  grid-template-columns: 80% 20%;
  grid-template-rows: auto;   
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    height: 5vh;
  
    */
    background-color: #DFE2E6;
    display: flex;
    padding: 40px 64px;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    box-sizing: border-box;


}

.texto-footer {
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 166%;
    /* 19.92px */
    letter-spacing: 0.4px;

}

.App-logoDH {
    /* display: grid;
        position: relative;
             justify-self: flex-end;
   grid-row: 3 / 4; */
    /* justify-content: space-between;
   align-self: center;
   text-align: center; */

    width: 240px;
    height: 32px;
}