.App-thanks {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}

.span{
    margin-bottom: 8px;
}

.thanks-image {
    width: 243px;
    height: 198px;
    margin-bottom:40px;
}
.main{
    padding: 0px;
}
.App-body {
    display: flex; 
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    min-height: 'calc(100vh - 13vh)';
    align-self: stretch;
    flex: 1; 
}
 
.More-information {
    color: #2196F3;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.15px;
    text-decoration-line: underline;
  }

