* {
  margin: 0; 
}
 
body, html {
  /* margin: 0;
  padding: 0;
  height: 100%; */
  max-width:100%;
}

.App {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
  box-sizing: border-box;
  background-color: white;
  font-family: 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* overflow: hidden; */
  /* overflow:visible; */
}


/* MAIN   */
.main {
  flex: 1;
  display: flex;
  /* padding: 40px 64px; */
   /* 64px 64px; */
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  /* width: 100%; */
  flex-grow: 1;
  overflow-y: auto;    
}


.App_form {
  padding: 1%;
}

.Title {
  size: 24px;
  color: #000000DE;
}


.Body1 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.15px;
  color: #363636DE;
  padding: 40px 64px 64px 64px;
  display: flex; 
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}

.Body1 span.Body_bold {
  white-space: nowrap;
}

.header5 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 133.4%;
}

.Body_bold {
  font-weight: 700;
}

.More-information {
  color: #2196F3;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.15px;
  text-decoration-line: underline;
}


.divider {
  border-bottom: 1px solid #C5C5C5;
  width: 100%;
  gap: 40px;
}


.App-link {
  color: #61dafb;
}


.texto {
  font-size: 12px;
  display: flex;
}

.link-more {
  background: #E2F1FD;
  padding: 24px 24px 24px 24px;
  height: fixed 64px;
  width: 100%;
}
 
.negrita {
  margin-left: 12px;
  font-weight: bold;
  color: black;
}



@media screen and (max-width: 767px) {
  .App {
    /* grid-template-rows: 10% auto auto; */
    width: 100%;
  }
  .Body1, .texto .question{
    font-size: 10px;
  }
  .header5 {
    font-size: 12px;
  }
}
/* 
   .RedButton {
    font-size: smaller;
     margin-left: 12px;
     display: flex;
     flex-direction: column;
     color: red;
   }

   .GreenButton {

     margin-left: 12px;

     display: flex;
     flex-direction: column;
     color: green;

   }

   .OrangeButton {
     margin-left: 12px;
     display: flex;
     flex-direction: column;
     color: orange;
   } */
/* .App-header {
  width: 100%;
  display: grid;
  padding: 1%;

  grid-template-columns: 3% 80%;
  grid-template-rows: 100%;
  background-color: #DFE2E6;
  box-sizing: border-box;
} */


/*
 @media (max-width: 768px) {
  .App-header {
    grid-template-columns: auto auto; 
    padding: 1px; 
  }
}


 .App-thermometer {
  height: 120px; 
  padding: 15px;
  display: flex;
  grid-column: 1 / 2;
  grid-row: 1 / 2; 
  font-family: "Roboto";
  justify-content: flex-start;
  text-align: center;
  align-self: center; 
  box-sizing: border-box;
 }

 .Team_image{
  display: flex;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  align-self:center;
  height: 80px; 
  justify-self: flex-start;
  justify-content: flex-start;
  }
}*/