.form{
  height: 100px;
}

.App-header {
  background-color: #DFE2E6;
  min-height: 5vh;
  display: flex;
  background: #DFE2E6;
  padding: 10px;
}

.App-thermometer{
  align-self: flex-start;
  height: 100px;
}

.texto_header {

  padding: 20px;
  font-size: 24px;
  color:#000000;
  font-weight: bold;
}

.App-body {
  color: #363636;
  font-family: Roboto;
  background-color: white;
  min-height: 50vh;
  align-items: center;

  justify-content: center; 
  font-family: "Roboto";
 }




.texto_body {

  padding: 20px;
  font-size: 16px;
  color: #363636DE;
}



.More-information {
  padding: 24px;
  font-size: 16px;
  color: #363636DE;
  background-color: #E2F1FD;
  margin-top: 40px ;
  margin-left: 15px ;
  width: 72%;
 
}




.Button_analyze {
 
  background-color: white;
}


.línea-horizontal {
  border-bottom: 1px solid black;
  /* Grosor, tipo y color de la línea */
  width: 100%;
  /* Ancho de la línea */
}


.App-link {
  color: #61dafb;
}


.App-footer {
  width: 100%;
  display: grid;
  padding: 1%;
  grid-template-columns: 80% 20%;
  grid-template-rows: 5%;
  background-color: #DFE2E6;

}


.App-footer .texto {
  display: grid;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  font-size: 12px;
  font-family: "Roboto";
  justify-content: flex-start;
  text-align: center;
  align-self: center;
}


.App-footer .App-logo2 {
  display: grid;
  grid-row: 3 / 4;
  align-self: center;
  height: 20px;
  position: relative;
  left: 300px;
}